.team
  .container
    .team__title Специалисты с 10-летним опытом
      span.team__subtitle в проектировании инженерных систем <br>для промышленных и коммерческих объектов
    .team__line
      .team__person-list-side
        .team__person-list-side-container(data-simplebar='')
          .team__person-item.team__person-item--active(data-projects='127')
            .team__person-item-pic
              .image-adaptive
                picture.image-adaptive__wrapper
                  img.image-adaptive__img.lazy-img-simple(src='img/general/preloader.gif' data-srcset='img/general/person.jpg' alt='Иван Иванов')
            .team__person-item-content
              .team__person-item-name Иван Иванов
              .team__person-item-charge Проектирует системы вентиляции и электросети
          .team__person-item(data-projects='36')
            .team__person-item-pic
              .image-adaptive
                picture.image-adaptive__wrapper
                  img.image-adaptive__img.lazy-img-simple(src='img/general/preloader.gif' data-srcset='img/general/person2.jpg' alt='Евгений Гришаев')
            .team__person-item-content
              .team__person-item-name Евгений Гришаев
              .team__person-item-charge Проектирует системы вентиляции и электросети
          .team__person-item
            .team__person-item-pic
              .image-adaptive
                picture.image-adaptive__wrapper
                  img.image-adaptive__img.lazy-img-simple(src='img/general/preloader.gif' data-srcset='img/general/person.jpg' alt='Иван Иванов')
            .team__person-item-content
              .team__person-item-name Иван Иванов
              .team__person-item-charge Проектирует системы вентиляции и электросети
          .team__person-item
            .team__person-item-pic
              .image-adaptive
                picture.image-adaptive__wrapper
                  img.image-adaptive__img.lazy-img-simple(src='img/general/preloader.gif' data-srcset='img/general/person.jpg' alt='Иван Иванов')
            .team__person-item-content
              .team__person-item-name Иван Иванов
              .team__person-item-charge Проектирует системы вентиляции и электросети
          .team__person-item
            .team__person-item-pic
              .image-adaptive
                picture.image-adaptive__wrapper
                  img.image-adaptive__img.lazy-img-simple(src='img/general/preloader.gif' data-srcset='img/general/person.jpg' alt='Иван Иванов')
            .team__person-item-content
              .team__person-item-name Иван Иванов
              .team__person-item-charge Проектирует системы вентиляции и электросети
      .team__person-side
        .team__person-side-content
          .team__person-side-pic
            .image-adaptive
              picture.image-adaptive__wrapper
                img.image-adaptive__img.lazy-img-simple(src='img/general/preloader.gif' data-srcset='img/general/person.jpg' alt='Иван Иванов')
          .team__person-side-name Иван Иванов
          .team__person-side-charge Уже 10 лет проектирует надежные системы водоснабжения и водоотведения
          .team__person-side-projects 149 проектов
