extends object-card

block variables
  -
    var obj = {
      background: 'img/general/fix-price.jpg',
      title: 'Ремонт магазина <br>Fix Price',
      location: 'в г. Оренбурге',
      date: 'март 2019 г.',
      area: '212',
      duration: ['13', 'дней'],
    }