extends object-card

block variables
  -
    var obj = {
      background: 'img/general/building.jpg',
      title: 'Техперевооружение <br>КБ Туполев',
      location: 'в г. Москве',
      date: 'март 2019 г.',
      area: '412',
      duration: ['15', 'дней'],
    }