.last-objects__object:nth-child(even) .object-card__content {
  padding-left: (80/960)*100%;
}

.object-card {
  cursor: pointer;
  width: 100%;
  color: #fff;

  background-position: center top -14rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #eee;

  &__inner {
    transition: background 0.3s linear;
    min-height: 400px;
    background: rgba(0, 0, 0, 0.6);
  }

  &:hover &__inner {
    background: rgba(0, 0, 0, 0.75);
  }

  &__content {
    padding-left: (390/960)*100%;
    padding-top: 6rem;
  }

  &__title {
    font-size: adaptFont(20, 1920); // 30px
    line-height: adaptFont(5, 1920); // 35px
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 90%;
  }

  &__location {
    font-size: adaptFont(4, 1920); // 14px
    line-height: 1.142em; // 16px
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);

  }

  &__info {
    display: flex;
    margin-bottom: 3rem;
  }

  &__date {
    font-size: adaptFont(4, 1920); // 14px
    line-height: 1.142em; 
    margin-bottom: 1rem;
  }

  &__area, &__duration {

    span:first-child {
      display: block;
      font-weight: bold;
      font-size:  adaptFont(38, 1920);// 48px;
      line-height: adaptFont(8, 1920); //56px
    }

    span:last-child {
      display: block;
      font-size: adaptFont(4, 1920); // 14px
      line-height: 1.142em;
      text-align: right;
    }
  }

  &__duration {
    margin-left: 5rem;
  }

  &__float-up {
    padding-top: 3rem;

    opacity: 0;
    transform: translateY(50px);
    transition-property: opacity, transform;
    transition: 0.3s ease-out;
  }

  &:hover &__float-up {
    opacity: 1;
    transform: translateY(0);
  }

  &__btn {
    width: 150px;
  }
}