include ../../components/arrows/arrows
include ../../components/image/image

.logo-line
  .container
    .logo-line__content
      +arrows('logo-line')
      .logo-line__slider
        .logo-line__slide
          .logo-line__slide-logo
            +image('png', 'fix_price', 'alt')
          .logo-line__slide-subscript 500 магазинов
        .logo-line__slide
          .logo-line__slide-logo
            +image('png', 'fix_price', 'alt')
          .logo-line__slide-subscript 500 магазинов
        .logo-line__slide
          .logo-line__slide-logo
            +image('png', 'fix_price', 'alt')
          .logo-line__slide-subscript 500 магазинов
        .logo-line__slide
          .logo-line__slide-logo
            +image('png', 'fix_price', 'alt')
          .logo-line__slide-subscript 500 магазинов
        .logo-line__slide
          .logo-line__slide-logo
            +image('png', 'fix_price', 'alt')
          .logo-line__slide-subscript 500 магазинов
        .logo-line__slide
          .logo-line__slide-logo
            +image('png', 'fix_price', 'alt')
          .logo-line__slide-subscript 500 магазинов
        .logo-line__slide
          .logo-line__slide-logo
            +image('png', 'fix_price', 'alt')
          .logo-line__slide-subscript 500 магазинов