include ../../components/image/image

.single-object
  .single-object__head-block(class="bg-img lazy-bg" data-lbg="img/general/fix-price.jpg")
    .single-object__inner
      .single-object__line
        .single-object__col.single-object__col-title
          span Ремонт магазина Fix Price
          span в г. Оренбурге
        .single-object__col.single-object__col-numbers
          .single-object__col-number
            span 212
            span кв.м
          .single-object__col-number
            span 13
            span дней
        .single-object__col.single-object__col-date
          .single-object__date март 2019 г.
  .container
    .single-object__content-block Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
    
include similar-objects/similar-objects