.header.header-main {
  background-color: #1a1b1d;

  background: url('../img/general/header-main-bg.jpg') center / cover no-repeat;
}

.header-cards-wrapper {

  .glide__arrow {
    z-index: 50;

    @media (max-width: 375px) {
      border: 1px solid #333;
      top: 30px;
      width: 30px;
      height: 30px;

      svg {
        fill: #333;
        width: 5px;
        height: 7px;
      }
    }
  }
  

  .glide__arrow--left {
    left: 0;

    display: none;

    @media (max-width: 540px) {
	    display: block;
    }

    @media (max-width: 375px) {
      left: 6px;
    }
  }

  .glide__arrow--right {
    right: 0;

    display: none;

    @media (max-width: 540px) {
	    display: block;
    }

    @media (max-width: 375px) {
      right: 6px;
    }
  }

  @media (max-width: 540px) {
    position: relative;
    padding: 0 44px;
  }

  @media (max-width: 375px) {
    padding: 0;
  }
}

@import "header-main";
@import "header-services";
@import "header-object";
@import "header-remiotd";
@import "header-proekt-i-montaj/header-proekt-i-montaj";
@import "header-tehobslujivanie/header-tehobslujivanie";