.header-services {
  padding-bottom: 1rem;

  &__burger {
    .burger * {
      background-color: #333;
    }
  }

  &__cards-media-wrapper {
    position: relative;
  }

  &__top-line {
    padding-top: 30px;
    display: flex;
    align-items: center;

    margin-bottom: 4rem;
  }

  .header-menu__link, .header-phone__phone-link {
    color: #000;
  }

  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
  }

  &__breadcrumbs {
    padding-top: 2rem;
    padding-bottom: 5rem;
  }

  &__cards {
    padding-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 540px) {
      display: block;
    }
  }

  &__card {
    max-width: 270px;

    @media (max-width: 1050px) {
      width: 300px;
      flex: 0 0 300px;
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      width: 250px;
      flex: 0 0 250px;
    }

    @media (max-width: 540px) {
      width: 310px;
      flex: 0 0 310px;
    }

    @media (max-width: 360px) {
      width: 290px;
      flex: 0 0 290px;
    }
  }

  &__cards-media-wrapper {
    @media (max-width: 540px) {
      max-width: 410px;
      margin: 0 auto;
      position: relative;
      z-index: 40;
    }

    @media (max-width: 360px) {
      max-width: 290px;
    }
  }
}