.header-banner {
  color: #fff;

  &.header-banner--black {
    color: #000;
  }

  &__title {
    font-size: 4.8rem;
    line-height: 5.6rem;

    @media (max-width: 540px) {
      text-align: center;
    }

    @media (max-width: 360px) {
      font-size: 3.8rem;
      line-height: 4.6rem;
    }
  }

  &__line {
    padding-top: 2rem;
    display: flex;
    align-items: center;

    @media (max-width: 540px) {
      display: block;
    }
  }

  &__line-number {
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 5.6rem;

    @media (max-width: 540px) {
      text-align: center;
      margin-bottom: 10px;
    }

    &.header-banner__line-number--80 {
      font-size: 80px;
      line-height: 93px;
    }
  }

  &__line-objects {
    margin-left: 2rem;

    @media (max-width: 540px) {
      margin-left: 0;
    }

    span {
      display: block;
      font-size: 14px;
      line-height: 16px;

      &:first-child {
        color: #A3A3A3;
      }

      &:last-child {
        font-weight: bold;
      }

      @media (max-width: 540px) {
        text-align: center;
      }
    }
  }

  &__lo-top {
    font-size: 14px;
    line-height: 16px;
    color: #585858;
    margin-bottom: 10px;

    b {
      font-weight: bold;
      color: #000000;
    }

    @media (max-width: 540px) {
      text-align: center;
    }
  }
}

@import "hb-logos";
@import "header-banner-p-objects";
@import "header-banner-tehperevoor/header-banner-tehperevoor";
@import "header-proekt-i-montaj-banner/header-proekt-i-montaj-banner";