.header-banner-p-objects
  .container
    .header-banner-p-objects__line
      .header-banner-p-objects__number 1575
      .header-banner-p-objects__text коммерческих <br>и промышленных <br>объектов с 2011 года <br>В России и СНГ