.header-banner
  h1.header-banner__title Помогаем готовить <br>к работе коммерческие <br>и промышленные объекты
  .header-banner__line
    .header-banner__line-number 1575
    .header-banner__line-objects
      span объектов с 2011 года, среди которых:
      span Fix Price, Магнит, Спортмастер и КБ Туполев