.header-banner-p-objects {
  padding-top: 4rem;
  
  &__line {
    display: flex;
    align-items: center;

    @media (max-width: 540px) {
      display: block;
    }
  }

  &__number {
    font-weight: bold;
    font-size: 150px;
    line-height: 174px;
    margin-right: 4rem;

    @media (max-width: 768px) {
      font-size: 100px;
      line-height: normal;
    }

    @media (max-width: 540px) {
      font-size: 60px;
      margin-right: 0;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 28px;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: normal;
    }

    @media (max-width: 540px) {
      padding-left: 10px;
    }
  }
}