.burger {
  display: none;

  @media (max-width: 1140px) {
    display: block;
  }
  
  position: relative;
  width: 4rem;
  height: 3.4rem;
  cursor: pointer;

  & > * {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
  }

  &__top, &__bottom, &__middle {
    transform-origin: center;
    transition: background-color 0.15s ease-in-out;
  }


  &__top {
    top: 0;
  }

  &__middle {
    top: calc(50% - 2px);
    transition: opacity 0.1s linear;
  }

  &__bottom {
    bottom: 0;
  }

  
}