.header-menu
  .header-menu__close
    +icon('close')
  nav.header-menu__nav
    ul.header-menu__list
      li.header-menu__item
        a(href="services.html").header-menu__link Услуги
        ul.header-menu__sub-list
          li.header-menu__sub-item
            a(href="remont-i-otdelka.html").header-menu__link Ремонт и отделка коммерческих помещений
          li.header-menu__sub-item
            a(href="tehperevoorujenie.html").header-menu__link Промышленный ремонт и техперевооружение
          li.header-menu__sub-item
            a(href="proekt-i-montaj.html").header-menu__link Проектирование инженерных сетей
          li.header-menu__sub-item
            a(href="tehobslujivanie.html").header-menu__link Техническое обслуживание коммерческих объектов
      li.header-menu__item
        a(href="page-objects.html").header-menu__link Объекты
      li.header-menu__item
        a(href="page-about.html").header-menu__link О Компании
        ul.header-menu__sub-list
          li.header-menu__sub-item
            a(href="page-news.html").header-menu__link Новости
          li.header-menu__sub-item
            a(href="page-gratitudes.html").header-menu__link Благодарности
          li.header-menu__sub-item
            a(href="page-sertificates.html").header-menu__link Сертификаты
          li.header-menu__sub-item
            a(href="page-vacancies.html").header-menu__link Вакансии
      li.header-menu__item
        a(href="#").header-menu__link Расчет стоимости
      li.header-menu__item
        a(href="page-contacts.html").header-menu__link Контакты