.header-menu {

  @media (max-width: 1140px) {
    position: fixed;

    left: -300px;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    z-index: 100;

    display: flex;
    justify-content: center;

    transition: left 0.3s ease-out;
  }

  &__close {
    display: none;

    @media (max-width: 1140px) {
      position: absolute;
      display: block;
      top: 20px;
      right: 20px;

      svg {
        width: 20px;
        height: 20px;
        fill: #666;
      }
      
    }
  }

  &.active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    left: 0;
  }

  &__nav {
    @media (max-width: 1140px) {
      display: flex;
      justify-content: center;
      padding-top: 50px;
    }
  }

  &__list {
    display: flex;

    @media (max-width: 1140px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__sub-list {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-12px);
    transition-property: opacity, transform;
    transition: 0.3s linear;

    background-color: #fff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.14);
    border-radius: 4px;
    padding: 10px 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(10em + 5vw);

    @media (max-width: 1140px) {
      padding: 16px 10px;
      text-align: center;
      background-color: transparent;
      opacity: 1;
      pointer-events: auto;
      position: static;
      width: 100%;
      transform: inherit;

      display: none;
    }
  }

  &__sub-list &__link {
    color: #000;
    font-size: 14px;
    line-height: normal;

    &:hover {
      text-decoration: none;
    }

    @media (max-width: 1140px) {
      color: #333;
      font-size: 13px;
    }
  }

  &__item:hover &__sub-list {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
    transition: 0.3s linear;

    @media (max-width: 1140px) {
      transform: none;
    }
  }


  &__sub-item {
    padding: 6px 10px;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: rgba(13, 40, 90, 0.2);
    }
  }

  &.active &__sub-item {
    padding: 6px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;

    &:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 2em;
    transition: 0.2s linear;
    transition-property: text-shadow;

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 1140px) {
      color: #000;
    }
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 26px;
    }
  }

  &.active &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-right: 0;
    }
  }
}