.calc-price {
  background-position: center;
  background-size: cover;
  background-color: rgb(82, 82, 82);
  color: #fff;
  padding: 10rem 0;
  padding-bottom: 16rem;

  .calc-price--hidden {
    display: none;
  }

  &.calc-price--page-bg {
    background-color: rgb(34, 34, 34);
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 5px;

    @media (max-width: 540px) {
      font-size: 38px;
      line-height: normal;
    }

    @media (max-width: 375px) {
      text-align: center;
    }

    @media (max-width: 360px) {
      font-size: 32px;
    }
  }

  &__subtitle {
    font-size: 24px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);

    @media (max-width: 540px) {
      font-size: 20px;
      line-height: normal;
    }

    @media (max-width: 375px) {
      text-align: center;
    }
  }

  &__form {
    padding-top: 6.8rem;
    display: flex;

    @media (max-width: 540px) {
      display: block;
      padding-top: 40px;
    }
  }

  &__col {

    &:not(:last-child) {
      margin-right: 48px;

      @media (max-width: 1140px) {
        margin-right: 20px;
      }

      @media (max-width: 540px) {
        margin-right: 0;
      }
    }
  }

  &__col--file {
    @media (max-width: 1050px) {
      display: none;
    }
  }

  &__field-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #DDDDDD;
    margin-bottom: 10px;
  }

  &__field-block {
    margin-bottom: 20px;
  }

  &__r-field-block {
    margin-bottom: 16px;
  }

  &__field {
    
    margin-bottom: 5px;

    &.calc-price__field--175 {
      width: 175px;

      @media (max-width: 1050px) {
        width: 200px;
      }

      @media (max-width: 540px) {
        width: 100%;
      }
    }

    &.calc-price__field--250 {
      width: 250px;

      @media (max-width: 540px) {
        width: 100%;
      }
    }
  }

  &__left {
    display: flex;

    @media (max-width: 768px) {
      display: block;
      flex-grow: 1;
    }

    @media (max-width: 540px) {
      display: block;
    }
  }

  &__ask_spec {
    margin-top: 5rem;
    // white-space: nowrap;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #3E8AE4;
    text-align: left;
    padding: 0;
  
    @media (max-width: 768px) {
      margin-top: 0;
    }

    @media (max-width: 540px) {
      display: none;
    }

    &:hover {
      text-decoration: underline;
    }

    &.calc-price__ask_spec--media {
      display: none;

      @media (max-width: 540px) {
        display: block;
        text-align: center;
        padding-top: 20px;
      }
    }
  }

  &__file-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  // right block
  &__right {
    margin-left: auto;

    @media (max-width: 540px) {
      margin-left: 0;
    }
  }

  &__r-field-title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 12px;

    @media (max-width: 375px) {
      font-size: 20px;
      line-height: normal;
    }
  }

  // FILE STYLES
  &__file-label-line {
    display: flex;
    align-items: center;
  }

  &__file-label {
    display: block;
    margin-bottom: 10px;

    input[type="file"] {
      display: none;
    }
  }

  &__file-label-pic {
    margin-right: 5px;

    .icon-upload {
      width: 30px;
      height: 30px;
      fill: #fff;
    }
  }

  &__file-label-text {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

    &:hover {
      text-decoration: underline;
    }
  }

  &__file-info-text {
    display: block;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
  }

  &__btn {
    padding-top: 4px;
    width: 250px;

    @media (max-width: 540px) {
      width: 100%;
    }
  }

  &__accept-conf {
    padding-top: 10px;
    max-width: 175px;

    @media (max-width: 540px) {
      max-width: 100%;
    }
  }

  #calc-price-media-btn {
    display: none;

    @media (max-width: 540px) {
      display: block;
    }
  }
}

.page-calc-price .calc-price {
  margin-top: 4rem;
}