-
  var calc_price_data_tehperevoor = {
    typeOfObject: {
      name: 'type_of_object',
      id: 'cp-type-of-object',
      options: ['Завод/Фабрика'],
      chbox: {
        name: 'type_of_object_3',
        label: 'Сеть',
        checked: false
      }
    },
    area: {
      name: 'object_area',
      id: 'cp-area'
    },
    location: {
      name: 'object_location',
      placeholder: 'Москва'
    },
    when: {
      name: 'when_to_put_into'
    },
    whatServices: [
      {
        name: 'what_services_you_need[]',
        label: 'Капитальный ремонт',
        checked: false
      },
      {
        name: 'what_services_you_need[]',
        label: 'Отделка',
        checked: false
      },
      {
        name: 'what_services_you_need[]',
        label: 'Реконструкция',
        checked: false
      },
      {
        name: 'what_services_you_need[]',
        label: 'Техперевооружние',
        checked: false
      },
    ],
    proecting: [
      {
        name: 'proecting[]',
        label: 'Электричество и освещение',
        checked: false
      },
      {
        name: 'proecting[]',
        label: 'Вентиляция',
        checked: false
      },
      {
        name: 'proecting[]',
        label: 'Водоснабжение',
        checked: false
      },
      {
        name: 'proecting[]',
        label: 'Сигнализация и связь',
        checked: false
      },
      {
        name: 'proecting[]',
        label: 'Газоснабжение',
        checked: false
      },
    ]
  }