-
  var calcPriceData = {
    typeOfObject: {
      name: 'type_of_object',
      id: 'cp-type-of-object',
      options: ['Коммерческий', 'Промышленный'],
      chbox: {
        name: 'type_of_object_3',
        label: 'Сеть',
        checked: false
      }
    },
    typeOfObject2: {
      name: 'type_of_object_2',
      id: 'cp-type-of-object_2',
      options: ['Магазин', 'Офисные помещения', 'Кафе/ресторан', 'Финансовая организация', 'Заведение сферы услуг']
    },
    area: {
      name: 'object_area',
      id: 'cp-area'
    },
    location: {
      name: 'object_location',
      placeholder: 'Москва'
    },
    when: {
      name: 'when_to_put_into'
    },
    whatWorks: [
      {
        name: 'what_works_you_need[]',
        label: 'Комлпекс',
        checked: false
      },
      {
        name: 'what_works_you_need[]',
        label: 'Электричество и освещение',
        checked: false
      },
      {
        name: 'what_works_you_need[]',
        label: 'Вентиляция',
        checked: false
      },
      {
        name: 'what_works_you_need[]',
        label: 'Водоснабжение',
        checked: false
      },
      {
        name: 'what_works_you_need[]',
        label: 'Сигнализация и связь',
        checked: false
      },
      {
        name: 'what_works_you_need[]',
        label: 'Газоснабжение',
        checked: false
      },
    ],
    whatServices: [
      {
        name: 'what_services_you_need[]',
        label: 'Капитальный ремонт',
        checked: false
      },
      {
        name: 'what_services_you_need[]',
        label: 'Отделка',
        checked: false
      },
      {
        name: 'what_services_you_need[]',
        label: 'Реконструкция',
        checked: false
      },
      {
        name: 'what_services_you_need[]',
        label: 'Техперевооружние',
        checked: false
      },
      {
        name: 'what_services_you_need[]',
        label: 'Техническое обслуживание',
        checked: false
      },
    ],
    proecting: [
      {
        name: 'proecting[]',
        label: 'Электричество и освещение',
        checked: false
      },
      {
        name: 'proecting[]',
        label: 'Вентиляция',
        checked: false
      },
      {
        name: 'proecting[]',
        label: 'Водоснабжение',
        checked: false
      },
      {
        name: 'proecting[]',
        label: 'Сигнализация и связь',
        checked: false
      },
      {
        name: 'proecting[]',
        label: 'Газоснабжение',
        checked: false
      },
    ]
  }