-
  var rh_history_data = [
    {
      year: '2011',
      text: 'Группа компаний Retail Holding образовалась как генподрядная организация, которая занималась отделочным ремонтом сети магазинов Fix Price'
    },
    {
      year: '2012',
      text: 'Начинаем работать с другими сетевыми ритейлерами: Монеткой, Takko Fahsion, Centro, ЦентрОбувь'
    },
    {
      year: '2013',
      text: 'Открыто проектное бюро и новое направление деятельности: проектирование и монтаж инженерных систем'
    },
    {
      year: '2014',
      text: 'Появились региональные филиалы в Краснодаре и Казани'
    },
    {
      year: 'c 2016',
      text: 'Постоянно появляются новые сетевые ритейлеры и промышленные объекты: заводы и научные предприятия. Среди них большая доля государственных'
    },
  ]