.thp-banner-1 {
  padding-top: 3rem;
  padding-bottom: 5.5rem;

  @media (max-width: 375px) {
    br {display: none;}
    text-align: center; 
    span {
      display: inline;
    }
  }

  &__undertitle {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 28px;
  }

  &__return {
    display: block;
    margin-bottom: 4.2rem;
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    color: #0075FF;
    &:hover {text-decoration: underline;}
  }
}