.thp-banner-1
  .container
    a(href="/").thp-banner-1__return Вернуться на главную
    h2.thp-banner-1__title.section-title 
      span.thp-banner-1__undertitle Мы получили вашу заявку и
      | пришлем Вам презентацию <br>в течение 20 минут