include ../../components/image/image

mixin grat-item
  .page-gratitudes__grat-item.grat-item
    .grat-item__image.clickable
      +image('jpg', 'gratitude_small', 'alt')
    .grat-item__descr
      .grat-item__title Благодарность за ремонт в магазине Fix Price в городе Оренбург в марте 2019 года
      .grat-item__logo-block
        .grat-item__prefix от
        .grat-item__lb-line
          .grat-item__lb-logo
            +image('png', 'fix_price', 'alt')
          .grat-item__lb-subtext Магазин Fix Price
      .grat-item__author-name Екатерины <br>Герасименко
      .grat-item__autor-pos Заместитель директора сети в Оренбургжской области
      .grat-item__image-hidden.clickable
        +image('jpg', 'gratitude_small', 'alt')
      a(href="#").grat-item__link Смотреть проект

.page-gratitudes
  .container
    .page-gratitudes__title-line.title-line
      .title-line__col
        span 1575
        span коммерческих и промышленных <br>объектов с 2011 года
      .title-line__col
        span 8 из 10
        span заказчиков рекомендуют нас <br>своим коллегам и партнерам
    .page-gratitudes__content
      - var n = 0;
      while n < 7
        +grat-item
        - n++