.header-banner-tehperevoor {
  padding-top: 4rem;
  color: #000;

  @media (max-width: 540px) {
    text-align: center;
  }

  &__title {
    margin-bottom: 15px;
    
    @media (max-width: 540px) {
      br {display: none;}
    }
  }

  &__subtitle {
    padding-top: 1rem;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    @media (max-width: 540px) {
      br {display: none;}
      padding-top: 0;
    }
  }

  &__line {
    display: flex;
    align-items: flex-start;

    @media (max-width: 540px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__number {
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
    margin-right: 20px;
    margin-left: -5px;

    @media (max-width: 540px) {
      text-align: center;
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  &__block {
    padding-top: 10px;
  }

  &__top-descr {
    font-size: 14px;
    line-height: 16px;
    color: #585858;
    margin-bottom: 10px;

    b {
      font-weight: 600;
      color: #000;
    }
  }

  &__bottom-line {
    display: flex;

    @media (max-width: 540px) {
      display: block;
      align-items: center;
    }
  }

  &__col {
    &:first-child {
      margin-right: 20px;

      @media (max-width: 540px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }

  &__comp-descr {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 6px;
  }

  &__comp-pic {
    width: 70px;

    @media (max-width: 540px) {
      margin: 0 auto;
    }
  }
}