include ../../../components/image/image

.header-banner-tehperevoor
  .container
    h2.header-banner-tehperevoor__title.section-title Техперевооружение производств <br>и промышленных объектов
      .header-banner-tehperevoor__subtitle с гаранитией сроков и фиксированной сметой
    .header-banner-tehperevoor__line
      .header-banner-tehperevoor__number 530
      .header-banner-tehperevoor__block
        .header-banner-tehperevoor__top-descr объектов с 2011 года, среди которых <br><b>известные госпредприятия:</b>
        .header-banner-tehperevoor__bottom-line
          .header-banner-tehperevoor__col
            .header-banner-tehperevoor__comp-descr Авиаконструкторское <br>бюро Тупалев
            .header-banner-tehperevoor__comp-pic
              +image('png', 'tupolev', 'alt')
          .header-banner-tehperevoor__col
            .header-banner-tehperevoor__comp-descr Научно-исследовательский Институт <br>Электронных приборов
            .header-banner-tehperevoor__comp-pic
              +image('png', 'niiep', 'alt')