extends ../layouts/default
include ../helpers/mixins

block variables
  - const title = "Retail Holding | Расчет Стоимости"
  - var bodyClass = 'page-calc-price'

block content
  include ../../blocks/modules/header/header-objects
  include ../../blocks/modules/bradcrumbs/bradcrumbs-block
  include ../../blocks/modules/calc-price/calc-price
  include ../../blocks/modules/reasons/reasons
  include ../../blocks/modules/footer/footer
  include ../../blocks/components/backdrop/backdrop
  include ../../blocks/modules/popups/popups

block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")