extends ../layouts/default
include ../helpers/mixins

block variables
  - const title = "Retail Holding | Новость"
  - var bodyClass = 'page-single-news'

block content
  include ../../blocks/modules/header/header-objects
  include ../../blocks/modules/bradcrumbs/bradcrumbs-block
  include ../../blocks/modules/page-single-news/page-single-news
  include ../../blocks/modules/footer/footer
  include ../../blocks/components/backdrop/backdrop

block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")