extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Retail Holding | Ремонт, отделка и реконструкция коммерческих объектов"
	- var bodyClass = 'rem-i-otd-page'

block content
	include ../../blocks/modules/header/header-tehobslujivanie/header-tehobslujivanie
	include ../../blocks/modules/filtered/filtered-tehobslujivanie
	include ../../blocks/modules/list-of-works/list-of-works
	include ../../blocks/modules/reasons/reasons
	include ../../blocks/modules/conditions/conditions
	include ../../blocks/modules/gratitude/gratitude
	include ../../blocks/modules/full-diagnostic/full-diagnostic
	include ../../blocks/modules/footer/footer
	include ../../blocks/components/backdrop/backdrop

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
