.about-head
  .about-head__background
    .about-head__content
      .about-head__title Retail Holding
        span.about-head__subtitle помогает готовить к работе <br>коммерческие и промышленные <br>объекты с 2011 года
      .about-head__line
        .about-head__col
          span 375
          span лояльных клиентов, <br>которые доверяют <br>нам все свои объекты
        .about-head__col
          span 1575
          span коммерческих <br>и промышленных  <br>объектов с 2011 года
        .about-head__col
          span 560
          span тысяч квадратных <br>метров площадей