.similar-objects
  .container
    .similar-objects__title Похожие объекты
  .similar-objects__objects
    .similar-objects__object
      include ../../object-card/object-card-1
    .similar-objects__object
      include ../../object-card/object-card-2