.bradcrumbs
  .container
    ul.bradcrumbs__line
      li.bradcrumbs__item.bradcrumbs__item--first.bradcrumbs__item--delimeter.bradcrumbs__item--link
        a(href="#") Главная
      li.bradcrumbs__item.bradcrumbs__item--first.bradcrumbs__item--link
        span Услуги