.header-proekt-i-montaj-banner
  h2.header-proekt-i-montaj-banner__title Проектирование и монтаж <br>инженерных сетей
    .header-proekt-i-montaj-banner__subtitle на коммерческих и промышленных объектах
  ul.header-proekt-i-montaj-banner__list
    li.header-proekt-i-montaj-banner__list-item Электричество и освещение
    li.header-proekt-i-montaj-banner__list-item Вода и водоотведение
    li.header-proekt-i-montaj-banner__list-item Вентиляция и кондиционирование
    li.header-proekt-i-montaj-banner__list-item Газоснабжение
    li.header-proekt-i-montaj-banner__list-item Сигнализация и связь
  .header-proekt-i-montaj-banner__bottom-line
    .header-proekt-i-montaj-banner__col Оптимальные технические <br>и экономические решения <br><b>под ваши бюджет и задачу</b>
    .header-proekt-i-montaj-banner__col Быстро <b>решаем вопросы <br>с надзорными органами</b> <br>и согласующими инстанциями
  .header-proekt-i-montaj-banner__aside
    span 311
    span проектов <br>с 2003 года