.header-proekt-i-montaj-banner {
  color: #000;
  padding-top: 4rem;
  padding-bottom: 10px;

  position: relative;

  @media (max-width: 768px) {
    position: static;
  }

  @media (max-width: 540px) {
    text-align: center;
  }

  &__aside {
    position: absolute;
    right: 160px;
    top: 185px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 150px;
    height: 150px;
    background: #265EAA;
    border-radius: 50%;

    span {
      display: block;
      color: #fff;
      margin-bottom: -5px;
    }

    span:first-child {
      font-weight: bold;
      font-size: 48px;
      line-height: 56px;
    }

    span:last-child {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
    }

    @media (max-width: 1050px) {
      right: 20px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 2.6rem;

    @media (max-width: 620px) {
      br {display: none;}
    }

    @media (max-width: 540px) {
      font-size: 28px;
      line-height: normal;
    }
  }

  &__subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    @media (max-width: 540px) {
      font-size: 20px;
      line-height: normal;
    }
  }

  // list start
  &__list {
    max-width: 400px;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 60px;
    margin-bottom: 4.7rem;

    &-item {
      width: auto;
      margin-bottom: 5px;
      margin-right: 5rem;
      padding-left: 1.4rem;
      font-size: 12px;
      line-height: 14px;

      position: relative;

      &::before {
        position: absolute;
        content: "";
        left: 0;
        top: calc(50% - 1.5px);
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #4C8AC1;
      }

      @media (max-width: 540px) {
        margin-right: 0;
      }
    }

    @media (max-width: 540px) {
      display: block;
      text-align: left;
      max-height: none;
      max-width: 260px;
      margin: 0 auto;
      margin-bottom: 4.7rem;
    }
  }
  // list end

  &__bottom-line {
    display: flex;

    @media (max-width: 540px) {
      display: block;
    }
  }

  &__col {
    &:first-child {
      margin-right: 7rem;

      @media (max-width: 540px) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #383838;

    b {
      font-weight: bold;
    }
  }
}