.list-of-works
  .container
    h2.list-of-works__title Перечень работ
    .list-of-works__line
      .list-of-works__col
        .list-of-works__list.list-of-works__list--lamp
          svg.svg-sprite-icon.icon-lamp
            use(xlink:href="img/sprites/sprite.svg#lamp")
          .list-of-works__list-title Электроснабжение и освещение
          ul.list-of-works-list
            li.list-of-works-list__item Осмотр и контроль работы электрооборудования
            li.list-of-works-list__item
              | Устранение мелких неисправностей (замена перегоревших электроламп, смена и ремонт розеток, выключателей и т.п.)
            li.list-of-works-list__item
              | Замена неисправного оборудования электроснабжения (автоматические выключатели, провода, кабели и др.)
            li.list-of-works-list__item
              | Замена неисправного оборудования электроснабжения (автоматические выключатели, провода, кабели и др.)
            li.list-of-works-list__item
              | Выполнение регламентных работ в соответствии с графиком планово-предупредительного ремонта
        .list-of-works__list.list-of-works__list--glass-drop
          svg.svg-sprite-icon.icon-glass-drop
            use(xlink:href="img/sprites/sprite.svg#glass-drop")
          .list-of-works__list-title Отопление, водоснабжение и канализация
          ul.list-of-works-list
            li.list-of-works-list__item
              | Осмотр приборов отопления и устранение мелких дефектов (устранение течей, ремонт креплений, удаление воздушных пробок, регулировка арматуры)
            li.list-of-works-list__item
              | Выполнение регламентных работ в соответствии с графиком планово-предупредительного ремонта
            li.list-of-works-list__item Устранение засоров в канализационной системе
        .list-of-works__list.list-of-works__list--tools
          svg.svg-sprite-icon.icon-tools
            use(xlink:href="img/sprites/sprite.svg#tools")
          .list-of-works__list-title Регулярный мелкий ремонт
          ul.list-of-works-list
            li.list-of-works-list__item
              | Замена вышедших из строя электроустановочных изделий (выключатели, штепсельные розетки, автоматы, устройств защитного отключения)
            li.list-of-works-list__item
              | Замена вышедших из строя световых приборов, цоколей, электроламп — всех типов (энергосберегающие лампы)
            li.list-of-works-list__item Ремонт соединительных, разводных коробок
            li.list-of-works-list__item Проведение мелкого ремонт дверей, в том числе порогов
            li.list-of-works-list__item Ремонт замков и при необходимости их замена
            li.list-of-works-list__item Ремонт напольного покрытия до 1 кв.м.
            li.list-of-works-list__item Ремонт шкафных стенок
            li.list-of-works-list__item Замена элементов подвесного потолка до 1кв.м.
            li.list-of-works-list__item
              | Мелкие штукатурно-малярные работы по устранению дефектов площадью до 1 кв.м. и на высоте не более 4 м.
            li.list-of-works-list__item Подбивка стульев без замены обшивки (подтяжка стульев, столов)
            li.list-of-works-list__item Текущий ремонт стен, полов, в т. ч. с использованием ГКЛ, до 1 кв.м.
      .list-of-works__col
        .list-of-works__list.list-of-works__list--ventilator
          svg.svg-sprite-icon.icon-ventilator
            use(xlink:href="img/sprites/sprite.svg#ventilator")
          .list-of-works__list-title Вентиляция и кондиционирование
          ul.list-of-works-list
            li.list-of-works-list__item Контроль функционирования вытяжных систем и регулировка систем вентиляции
            li.list-of-works-list__item Осмотр и ревизия пусковых устройств
            li.list-of-works-list__item
              | Проверка состояния вентиляторов. проверка электродвигателей на отсутствие вибрации. (очистка вентиляторов от пыли, ржавчины, грязи, др. работы в соответствии с рекомендациями заводов-изготовителей)
            li.list-of-works-list__item
              | Контроль состояния воздуховодов (проверка плотности соединения всех звеньев, состояния и замена дефектных подвесок, хомутов, замена прокладок, исправление вмятин, заделка пробоин, очистка воздуховодов)
            li.list-of-works-list__item Очистка наружных поверхностей от пыли и грязи
            li.list-of-works-list__item Осмотр антивибрационных устройств, проверка надежности их крепления
            li.list-of-works-list__item
              | Проверка креплений, ограждений и конструкций наружных и внутренних блоков, устранение дефектов
            li.list-of-works-list__item Проверка исправности дренажной системы
            li.list-of-works-list__item Контроль температуры сухого воздуха на входе/выходе вн. блока
            li.list-of-works-list__item Очистка входных и выходных жалюзи внутреннего блока
            li.list-of-works-list__item Чистка корпуса и передней панели внутреннего блока
            li.list-of-works-list__item Проверка герметичности соединений контура прохождения хладона
            li.list-of-works-list__item Проверка состояний силовых и управляющих цепей
            li.list-of-works-list__item Диагностика работоспособности кондиционера по температуре и давлению
            li.list-of-works-list__item Проверка исправности электродвигателей и лопастей вентиляторов
            li.list-of-works-list__item Подтягивание резьбовых соединений проводов на клеммных коробках
            li.list-of-works-list__item Проверка исправности электрооборудования и автоматики конденсаторного блока
            li.list-of-works-list__item Чистка теплообменника и других узлов внешнего блока
            li.list-of-works-list__item Дозаправка фреона (при необходимости)
            li.list-of-works-list__item Проверка на предмет побочных шумов, вибрации и пр.
            li.list-of-works-list__item Проверка надежности крепления вращающихся механизмов
            li.list-of-works-list__item Проверка степени загрязненности фильтров