.last-objects
  .container
    h2.last-objects__title Последние объекты
  .last-objects__objects
    .last-objects__object
      include ../object-card/object-card-1
    .last-objects__object
      include ../object-card/object-card-2
  .last-objects__more
    button(type="button").last-objects__more-btn Больше проектов