.last-objects {
  

  &__title {
    padding: 5rem 0;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 5.6rem;
    color: #000;
  }

  &__objects {
    display: flex;
    flex-wrap: wrap;
  }

  &__object {
    width: 50%;
    flex: 0 0 50%;
  }

  &__more {
    padding-top: 5rem;
  }

  &__more-btn {
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;

    color: #0075FF;

    &:hover {
      text-decoration: underline;
    }
  }
}