mixin arrows(extraClass)
  button.glide__arrow.glide__arrow--left(class=`${extraClass}-controls__prev`)
    svg(viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg")
      path(d="M6 9.56128L0 5.03921L6 0.584473V9.56128Z")
  button.glide__arrow.glide__arrow--right(class=`${extraClass}-controls__next`)
    svg(viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg")
      path(d="M6 9.56128L0 5.03921L6 0.584473V9.56128Z")

mixin arrows-black(extraClass)
  button.glide__arrow.glide__arrow--black.glide__arrow--left(class=`${extraClass}-controls__prev`)
    svg(viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg")
      path(d="M6 9.56128L0 5.03921L6 0.584473V9.56128Z")
  button.glide__arrow.glide__arrow--black.glide__arrow--right(class=`${extraClass}-controls__next`)
    svg(viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg")
      path(d="M6 9.56128L0 5.03921L6 0.584473V9.56128Z")