// .arrows {

// }

.glide__arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  // padding-right: px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  padding-right: 7px;
  padding-top: 3px;

  svg {
    fill: #fff;
    width: 6px;
    height: 9px;
    transition: transform 0.2s linear;
    

    @media (max-width: 540px) {
      width: 5px;
      height: 8px;
    }
  }

  &.glide__arrow--black {
    border: 1px solid #000;

    svg {
      fill: #000;  
  
      @media (max-width: 540px) {
        width: 5px;
        height: 8px;
      }
    }
  }

  &:hover {
    svg {
      transform: translateX(-3px);
    }
  }

  @media (max-width: 540px) {
    width: 30px;
    height: 30px;
  }
}


.glide__arrow.glide__arrow--right {
  padding-left: 8px;
  
  svg {
    transform: rotate(180deg);
  }

  // transition: transform 0.2s linear;

  &:hover svg {
    transform: rotate(180deg) translateX(-3px);
  }
}