label.accept-conf
  input(type="checkbox" name="accept-confidentiality" checked).accept-conf__input
  .accept-conf__label Согласен с 
    a(href="#").accept-conf__link Политикой конфиденциальности сайта