.popup-1 {
  color: #fff;

  @media (max-width: 375px) {
    text-align: center;
  }

  &__content {
    padding: 8.8rem 10rem 9.4rem;
    max-width: 1000px;

    @media (max-width: 540px) {
      padding: 8rem 4rem;
    }
  }

  &__title {
    margin-bottom: 0.9rem;

    @media (max-width: 768px) {
      br {display: none;}
    }
  }

  &__subtitle {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5.5rem;
    
    @media (max-width: 620px) {
      font-size: 20px;
      line-height: normal;
      br {display: none;}
    }
  }

  &__bm-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
  }

  &__bm-line {
    display: flex;

    @media (max-width:360px) {
      display: block;
    }
  }

  label {
    @media (max-width: 375px) {
      text-align: left;
    }
  }

  &__bm-chbox:not(:last-child) {
    margin-right: 3rem;

    @media (max-width:360px) {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }

  &__fields {
    max-width: 250px;

    @media (max-width: 375px) {
      max-width: 100%;
    }
  }

  
  &__accept-conf {
    .accept-conf__label {
      @media (max-width: 375px) {
        display: inline-block;
      }
    }
  }
}