@import "header/header";
@import "footer/footer";

@import "logo/logo";
@import "menu/menu";
@import "header-phone/header-phone";
@import "header-banner/header-banner";
@import "header-card/header-card";
@import "last-objects/last-objects";
@import "object-card/object-card";
@import "trust-us/trust-us";
@import "reasons/reasons";
@import "gratitude/gratitude";
// @import "";