@import "header/header";
@import "footer/footer";

@import "logo/logo";
@import "menu/menu";
@import "burger/burger";
@import "header-phone/header-phone";
@import "header-banner/header-banner";
@import "header-card/header-card";
@import "last-objects/last-objects";
@import "object-card/object-card";
@import "trust-us/trust-us";
@import "reasons/reasons";
@import "gratitude/gratitude";
@import "news-block/news-block";
@import "news-card/news-card";
@import "calc-price/calc-price";
@import "accept-conf/accept-conf";
@import "bradcrumbs/bradcrumbs";
@import "filtered/filtered";
@import "conditions/conditions";
@import "single-object/single-object";
@import "about-head/about-head";
@import "logo-line/logo-line";
@import "team/team";
@import "rh-history/rh-history";
@import "certificates/certificates";
@import "news-block/news-block";
@import "page-single-news/page-single-news";
@import "list-of-works/list-of-works";
@import "full-diagnostic/full-diagnostic";
@import "page-gratitudes/page-gratitudes";
// @import "";