.header-tehobslujivanie-banner
  h2.header-tehobslujivanie-banner__title Техническое обслуживание коммерческих <br>объектов по России
  .header-tehobslujivanie-banner__subtitle Позаботимся об эффективном <br>и безаварийном функционировании <br>объекта в удобном для Вас формате
  .header-tehobslujivanie-banner__line
    .header-tehobslujivanie-banner__col
      h3.header-tehobslujivanie-banner__ctitle Техобслуживание <br>на постоянной основе
      p.header-tehobslujivanie-banner__ctext Каждый день поддерживаем <br>эффективную работу всех  <br>систем вашего объекта
    .header-tehobslujivanie-banner__col
      h3.header-tehobslujivanie-banner__ctitle Сезонная <br>подготовка
      p.header-tehobslujivanie-banner__ctext Вовремя подготовим ваш <br>объект к весенне-летнему <br>или отопительному сезону
    .header-tehobslujivanie-banner__col
      h3.header-tehobslujivanie-banner__ctitle Аварийный <br>ремонт
      p.header-tehobslujivanie-banner__ctext Приедем на ваш объект <br>и устраним проблему в течение <br>2 часов в любое время суток
  .header-tehobslujivanie-banner__num-line
    .header-tehobslujivanie-banner__num 68
    .header-tehobslujivanie-banner__num-text объектов уже доверили <br>нам техническое обслуживание