.header-tehobslujivanie-banner {
  padding-top: 4rem;
  padding-bottom: 6rem;

  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
      font-size: 40px;
      line-height: normal;
      br {display: none;}
    }

    @media (max-width: 540px) {
      font-size: 30px;
      text-align: center;
    }
  }

  &__subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 4rem;

    @media (max-width: 768px) {
      line-height: normal;
      br {display: none;}
    }

    @media (max-width: 540px) {
      text-align: center;
    }
  }

  &__line {
    display: flex;

    @media (max-width: 540px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__col {
    &:not(:last-child) {
      margin-right: 5rem;

      @media (max-width: 375px) {
        margin-right: 0;
      }
    }

    @media (max-width: 768px) {
      br {display: none;}
    }
  }

  &__ctitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    
    color: #1666C5;
    margin-bottom: 10px;
  }

  &__ctext {
    font-size: 14px;
    line-height: 16px;
    
    color: #2E2E2E;
  }

  &__num-line {
    display: flex;
    align-items: center;

    @media (max-width: 540px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__num {
    font-weight: 600;
    font-size: 80px;
    line-height: 93px;

    &-text {
      font-size: 20px;
      line-height: 23px;
      margin-left: 16px;

      @media (max-width: 375px) {
        margin: 0;
      }
    }
  }
}