include ../../components/image/image

.page-single-news
  .container
    .page-single-news__block
      .page-single-news__text-block
        h2.page-single-news__title Закончили ремонт в магазине Fix Price в Оренбурге
        .page-single-news__date 19.05.2018
        .page-single-news__hidden-img
          +image-noll('news-card-big', 'alt')
        .page-single-news__main-text
          p Завтра, в четвёртый раз с начала этого года, произойдёт повышение цены на цемент у нашего поставщика. 
            | Для Вас в этом году мы пока не повышали цены на товарный бетон и после третьего удорожания цемента продавали бетонные смеси близко к себестоимости. С завтрашнего дня, чтобы после очередного повышения цены на цемент не работать в убыток, мы вынуждены поднять стоимость нашей продукции в среднем на 100 рублей за 1 м³.
          p По этой ссылке можно ознакомиться с письмами о повышении цены на цемент от нашего поставщика.  Из них видно, что цена на цемент с начала 2016 года увеличилась на 750 рублей (для завтрашнего повышения ещё не пришло письмо с конкретным значением удорожания, но известно, что оно составит 150 руб/тн).
      .page-single-news__images
        .page-single-news__big-img
          +image-noll('news-card-big-1', 'alt')
        .page-single-news__images-line
          .page-single-news__small-img
            +image-noll('news-card-small-1', 'alt')
          .page-single-news__small-img
            +image-noll('news-card-small-2', 'alt')
          .page-single-news__small-img
            +image-noll('news-card-small-3', 'alt')