.trust-us {
  color: #040404;
  padding-top: 8.6rem;
  padding-bottom: 14.8rem;

  @media (max-width: 900px) {
    padding-bottom: 8.6rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    @media (max-width: 900px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__title {
    max-width: 500px;

    @media (max-width: 900px) {
      text-align: center;
      margin-bottom: 4rem;
    }

    span {
      display: block;
    }

    span:first-child {
      font-weight: 600;
      font-size: 64px;
      line-height: 74px;
      margin-bottom: 1rem;

      @media (max-width: 900px) {
        font-size: 44px;
        line-height: normal;
        margin-bottom: 0.8rem;
      }

      @media (max-width: 540px) {
        font-size: 28px;
      }
    }
    span:last-child {
      font-size: 36px;
      line-height: 42px;
      color: rgba(0, 0, 0, 0.82);

      @media (max-width: 900px) {
        font-size: 30px;
        line-height: normal;
      }

      @media (max-width: 540px) {
        font-size: 28px;
      }
    }
  }

  &__media-wrapper {
    max-width: 46.65965%;
    flex: 0 0 46.65965%;
    margin-bottom: -4.4rem;
    // background-color: rgba(74, 133, 68, 0.2);

    @media (max-width: 900px)  {
      margin-bottom: 0;
      max-width: 290px;
      flex: 0 0 auto; 
    }

    @media (max-width: 540px) {
      position: relative;
      padding: 0 44px;
    }
  }

  &__items {
      
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;

    
    @media (max-width: 540px) {
      display: block;
    }
  }

  &__item {
    width: 33.333333%;
    flex: 0 0 33.333333%;

    margin-bottom: 4.4rem;

    @media (max-width: 900px) {
      width: 120px;
      flex: 0 0 120px;
    }

    @media (max-width: 540px) {
      width: 100%;
      margin-bottom: 0;
    }
  }
}

.trust-us__controls {
  display: none;
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;

  .trust-us-controls__next {
    right: 0;
  }

  .trust-us-controls__prev {
    left: 0;
  }

  .trust-us-controls {
    pointer-events: auto;
  }
  
  button {
    border-color: #333;
    pointer-events: auto;
    z-index: 20;
  }
  
  svg {
    fill: #333;
  }

  @media (max-width: 540px) {
    display: block;
  }
}

@import "trust-us-item";