include filter

-
  var filteredTehobslujivanie = [
    ['Розничные магазины',
    'Заведения сферы услуг'],
    ['Финансовые организации',
    'Офисные помещения'],
    ['Кафе и рестораны']
  ]

.filtered
  .filtered__filter
    .container
      +filter(filteredTehobslujivanie)
  .filtered__content
    .filtered__object
      include ../object-card/object-card-1
    .filtered__object
      include ../object-card/object-card-2
    .filtered__object
      include ../object-card/object-card-1
    .filtered__object
      include ../object-card/object-card-2