.filtered-objects {
  padding-top: 3rem;

  &__objects {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 540px) {
      display: block;
    }
  }

  &__object {
    width: 50%;
    flex: 0 0 50%;

    @media (max-width: 540px) {
      width: 100%;
    }
  }
}

/*
* FO-FILTER
*/

.fo-filter {
  padding-bottom: 3rem;

  @media (max-width: 1140px) {
    display: flex;
  }

  @media (max-width: 375px) {
    display: block;
  }

  &__line {
    display: flex;
    align-items: center;
    padding-left: 1rem;

    &:first-child {
      margin-bottom: 1rem;
    }

    @media (max-width: 1140px) {
      display: block;
    }
  }

  &__line:first-child {
    @media (max-width: 1140px) {
      margin-right: 3rem;
    }
    
    @media (max-width: 375px) {
      margin-right: 0;
      margin-bottom: 3rem;
    }
  }

  &__prefix {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-right: 3rem;

    @media (max-width: 1140px) {
      margin-right: 0;
      padding: 10px 20px;
      display: inline-block;

      &:hover {
        background-color: rgba(122, 122, 122, 0.1);
        border-radius: 6px;
      }

      position: relative;
      padding-right: 34px;
      &::after {
        position: absolute;
        content: "";
        width: 12px;
        height: 12px;
        background: url('../img/general/down-arrow.svg');
        right: 11px;
        top: calc(50% - 6px);
      }
    }
  }

  &__btns {
    display: flex;

    @media (max-width: 1140px) {
      display: none;
    }
  }

  &__btn {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding: 10px 20px;
    width: auto;

    &:hover, &.fo-filter__btn--active {
      background: #0075FF;
      font-weight: bold;
      color: #fff;
    }

    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}