.filtered-objects
  .filtered-objects__filter
    .container
      .fo-filter
        .fo-filter__line
          .fo-filter__prefix Коммерческие:
          .fo-filter__btns
            button(type="button").fo-filter__btn Розничные магазины
            button(type="button").fo-filter__btn Финансовые организации
            button(type="button").fo-filter__btn Кафе и рестораны
            button(type="button").fo-filter__btn Заведения сферы услуг
            button(type="button").fo-filter__btn Офисные помещения
        .fo-filter__line
          .fo-filter__prefix Промышленные:
          .fo-filter__btns
            button(type="button").fo-filter__btn Производственные помещения
            button(type="button").fo-filter__btn Складские помещения
            button(type="button").fo-filter__btn Фабрики и заводы
            button(type="button").fo-filter__btn Электространции
  .filtered-objects__objects
    .filtered-objects__object
      include ../object-card/object-card-1
    .filtered-objects__object
      include ../object-card/object-card-2