.filter {
  display: flex;
  justify-content: flex-start;

  &__col {

  }

  &__btn {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding: 10px 20px;
    width: auto;

    &:hover, &.filter__btn--active {
      background: #0075FF;
      // font-weight: bold;
      color: #fff;
    }

    &:not(:last-child) {
      margin-right: 3.6rem;
    }
  }
}