.filtered__filter {
  padding-bottom: 20px;
}

.filtered__content {
  display: flex;
  flex-wrap: wrap;
}

.filtered__object {
  width: 50%;
  flex: 0 0 50%;
}

.filter {
  display: flex;
  justify-content: flex-start;
}

.filter__btn {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding: 10px 20px;
  width: auto;
  margin-bottom: 5px;
}

.filter__btn:hover,
.filter__btn.filter__btn--active {
  background: #0075FF;
  color: #fff;
}

.filter__btn:not(:last-child) {
  margin-right: 3.6rem;
}

.filter__media-curr-field {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding: 10px 20px;
  padding-right: 40px;
  position: relative;
}

.filter__media-curr-field:hover,
.filter__media-curr-field.filter__btn--active {
  background: rgba(201, 201, 201, 0.2);
  border-radius: 20px;
}

.filter__media-curr-field::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background: url("../img/general/down-arrow.svg");
  right: 11px;
  top: calc(50% - 5px);
}

.filter__media-curr-field.open::after {
  display: none;
}

.filter__media-container {
  display: none;
}

.filter__media-container.show {
  overflow: hidden;
  position: absolute;
  display: block;
  top: calc(100% + 6px);
  background-color: #fff;
  border-radius: 6px;
  z-index: 50;
  box-shadow: 0 0 10px rgba(77, 77, 77, 0.6);
}

@media (max-width: 620px) {
  .filter {
    display: block;
  }

  .filter {
    position: relative;
  }

  .filter__btn {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .filtered__content {
    display: block;
  }

  .filtered__object {
    width: 100%;
  }

}