.filtered-objects {
  padding-top: 3rem;

  &__objects {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 540px) {
      display: block;
    }
  }

  &__object {
    width: 50%;
    flex: 0 0 50%;

    @media (max-width: 540px) {
      width: 100%;
    }
  }
}

/*
* FO-FILTER
*/

.fo-filter {
  padding-bottom: 3rem;

  &__line {
    display: flex;
    align-items: center;
    padding-left: 1rem;

    &:first-child {
      margin-bottom: 1rem;
    }
  }

  &__prefix {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-right: 3rem;
  }

  &__btns {
    display: flex;
  }

  &__btn {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding: 10px 20px;
    width: auto;

    &:hover, &.fo-filter__btn--active {
      background: #0075FF;
      // font-weight: bold;
      color: #fff;
    }

    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}