.vacancies
  .container
    h2.vacancies__title.section-title Вакансии
    .vacancies__content
      .vacancies__main
        .vacancies__card.vacancy-card
          .vacancy-card__title Инженер-проектировщик слаботочных систем
          .vacancy-card__line.vacancy-card-time
            .vacancy-card-time__block
              .vacancy-card-time__icon
                +icon('bx_bx-calendar')
              .vacancy-card-time__text 5/2
            .vacancy-card-time__block
              .vacancy-card-time__icon
                +icon('ic_outline-access-time')
              .vacancy-card-time__text c 9:00 до 18:00
          .vacancy-card__salary
            span от
            span 50 000 ₽
          .vacancy-card__descr-block.vacancy-card-descr-block
            .vacancy-card-descr-block__title Требования:
            ul.vacancy-card-descr-block__list
              li.vacancy-card-descr-block__item Образование - техническое высшее
              li.vacancy-card-descr-block__item Опыт работы с проектной документацией от 3 лет
              li.vacancy-card-descr-block__item Знание стандартов, нормативных документов <br>по проектированию и строительству
              li.vacancy-card-descr-block__item Уверенный пользователь Microsoft Office, Microsoft Visio и Autocad
          .vacancy-card__descr-block.vacancy-card-descr-block
            .vacancy-card-descr-block__title Обязанности:
            ul.vacancy-card-descr-block__list
              li.vacancy-card-descr-block__item Разработка проектной и рабочей документации систем: СОТ,СКУД,СО,ОС, СС
              li.vacancy-card-descr-block__item Составление проектной документации для строительства линейно-кабельных сооружений с целью организации сети по технологии FTTH/PON
              li.vacancy-card-descr-block__item Оформление исполнительной документации
              li.vacancy-card-descr-block__item Обследование объектов
        .vacancies__card.vacancy-card
          .vacancy-card__title Инженер-проектировщик слаботочных систем
          .vacancy-card__line.vacancy-card-time
            .vacancy-card-time__block
              .vacancy-card-time__icon
                +icon('bx_bx-calendar')
              .vacancy-card-time__text 5/2
            .vacancy-card-time__block
              .vacancy-card-time__icon
                +icon('ic_outline-access-time')
              .vacancy-card-time__text c 9:00 до 18:00
          .vacancy-card__salary
            span от
            span 50 000 ₽
          .vacancy-card__descr-block.vacancy-card-descr-block
            .vacancy-card-descr-block__title Требования:
            ul.vacancy-card-descr-block__list
              li.vacancy-card-descr-block__item Образование - техническое высшее
              li.vacancy-card-descr-block__item Опыт работы с проектной документацией от 3 лет
              li.vacancy-card-descr-block__item Знание стандартов, нормативных документов <br>по проектированию и строительству
              li.vacancy-card-descr-block__item Уверенный пользователь Microsoft Office, Microsoft Visio и Autocad
          .vacancy-card__descr-block.vacancy-card-descr-block
            .vacancy-card-descr-block__title Обязанности:
            ul.vacancy-card-descr-block__list
              li.vacancy-card-descr-block__item Разработка проектной и рабочей документации систем: СОТ, СКУД, СО, ОС, СС
              li.vacancy-card-descr-block__item Составление проектной документации для строительства линейно-кабельных сооружений с целью организации сети по технологии FTTH/PON
              li.vacancy-card-descr-block__item Оформление исполнительной документации
              li.vacancy-card-descr-block__item Обследование объектов
      .vacancies__side
        .vacancies-side-card
          .vacancies-side-card__title Если вас заинтересовала одна из наших вакансий, свяжитесь с нами по телефону
          .vacancies-side-card__tel 8 (499) 654-07-47