.news-card {
  display: flex;

  @include image-adaptive(200, 142);

  @media (max-width: 540px) {
    display: block;
  }

  &__picture {
    width: 200px;
    flex: 0 0 200px;

    @media (max-width: 540px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__content {
    margin-left: 20px;
    padding-right: (110/570)*100%;

    @media (max-width: 1140px) {
      padding-right: 20px;
    }

    @media (max-width: 540px) {
      margin-left: 0;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 19px;
    color: #0075FF;
    margin-bottom: 5px;
  }

  &__date, &__text {
    font-size: 12px;
    line-height: 14px;
  }

  &__date {
    color: #9C9C9C;
    margin-bottom: 10px;
  }

  &__text {
    color: #393939;
  }
}