include ../../components/image/image

.news-card
  .news-card__picture
    +image-adaptive('news-card', 'alt')
  .news-card__content
    .news-card__title Закончили ремонт в магазине Fix Price в Оренбурге
    .news-card__date 19.05.2018
    p.news-card__text Очередной партнер сети Fix Price остался доволен нашим сотрудничеством. В Оренбурге мы закрыли 27 совместный...