.header-card {
  width: 100%;
  // border-bottom: 5px solid transparent;
  

  &.header-card-1 {
    border-bottom: 5px solid #265EAA;
    background: url('../img/general/header-card-bg-1.jpg') center bottom / 100% auto no-repeat;

    &:hover .header-card__border {
      border-color: #265EAA;
    }
  }

  &.header-card-2 {
    border-bottom: 5px solid #85BE40;
    background: url('../img/general/header-card-bg-2.jpg') center bottom / 100% auto no-repeat;

    &:hover .header-card__border {
      border-color: #85BE40;
    }
  }

  &.header-card-3 {
    border-bottom: 5px solid #F3942B;
    background: url('../img/general/header-card-bg-3.jpg') center bottom / 100% auto no-repeat;

    &:hover .header-card__border {
      border-color: #F3942B;
    }
  }

  &.header-card-4 {
    border-bottom: 5px solid #232A55;
    background: url('../img/general/header-card-bg-1.jpg') center bottom / 100% auto no-repeat;

    &:hover .header-card__border {
      border-color: #232A55;
    }
  }

  &__inner {
    box-sizing: border-box;
    background: linear-gradient(180deg, #FFFFFF 60%, rgba(255, 255, 255, 0) 100%);

    @media (max-width: 540px) {
      
    }
  }

  &__border {
    border: 5px solid transparent;
    // min-height: 38.8rem;

    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 0;
    padding-bottom: 8.5rem;

    @media (max-width: 540px) {
      padding: 20px 50px;
      padding-bottom: 80px;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 375px) {
      padding-top: 40px;
    }

    @media (max-width: 360px) {
      padding: 20px;
      padding-top: 40px;
      padding-bottom: 50px;
    }
  }

  &:hover &__border {
    border: 5px solid #0075FF;
  }

  &__title {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

    margin-bottom: 3rem;

    @media (max-width: 540px) {
      text-align: center;
      font-size: 16px;
      line-height: normal;
    
      br {
        display: none;
      }
    }
  }

  &__list {
    margin-bottom: 3rem;
    min-height: 10rem;

    @media (max-width: 540px) {
      min-height: auto;
      order: 10;
    }
  }

  &__item {
    color: #666666;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    margin-bottom: 0.5rem;

    padding-left: 1.4rem;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: calc(50% - 1.5px);
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #4C8AC1;
    }
  }

  &__btn {
    width: 150px;

    @media (max-width: 540px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}