-
  var headerCardData = [
    {
      order: '1',
      title: 'Ремонт, отделка <br>и реконструкция <br>коммерческих объектов',
      items: [
        'Розничные магазины',
        'Офисные помещения',
        'Кафе и рестораны',
        'Заведения сферы услуг',
        'Финансовые организации',
      ],
      btn: {
        size: '40',
        text: 'Подробнее',
        id: 'header-card-btn-1'
      }
    },
    {
      order: '2',
      title: 'Техперевооружение производств и <br>промышленных объектов',
      items: [
        'Производственные помещения',
        'Складские помещения',
        'Фабрики и заводы',
        'Научные предприятия'
      ],
      btn: {
        size: '40',
        text: 'Подробнее',
        id: 'header-card-btn-2'
      }
    },
    {
      order: '3',
      title: 'Проектирование <br>инженерных <br>сетей',
      items: [
        'Электричество и освещение',
        'Вода и водоотведение',
        'Вентиляция и кондиционирование',
        'Газоснабжение',
        'Сигнализация и связь'
      ]
      ,
      btn: {
        size: '40',
        text: 'Подробнее',
        id: 'header-card-btn-3'
      }
    },
    {
      order: '4',
      title: 'Техническое <br>обслуживание <br>коммерческих объектов',
      items: [
        'Розничные магазины',
        'Офисные помещения',
        'Кафе и рестораны',
        'Заведения сферы услуг',
        'Финансовые организации'
      ]
      ,
      btn: {
        size: '40',
        text: 'Подробнее',
        id: 'header-card-btn-4'
      }
    }
  ]