include ../../components/image/image

.certificates-block
  .container
    h2.certificates-block__title.section-title Retail Building имеет все необходимые <br>сертификаты и разрешения
    .certificates-block__items
      // item
      .certificates-block__item
        .certificate
          .certificate__descr Сертификат соответствия <br><b>ISO 9001</b>
          .certificate__pic
            +image('jpg', 'example-cert_small', 'alt')
      // item
      .certificates-block__item
        .certificate
          .certificate__descr Свидетельство о членстве <br><b>СРО</b>
          .certificate__pic
            +image('jpg', 'example-cert_small', 'alt')
      // item
      .certificates-block__item
        .certificate
          .certificate__descr Свидетельство <br>о допуске к работам
          .certificate__pic
            +image('jpg', 'example-cert_small', 'alt')
      // item
      .certificates-block__item
        .certificate
          .certificate__descr Свидетельство <br>о постановке на учет
          .certificate__pic
            +image('jpg', 'example-cert_small', 'alt')
      // item
      .certificates-block__item
        .certificate
          .certificate__descr Свидетельство <br>о допуске к работам
          .certificate__pic
            +image('jpg', 'example-cert_small', 'alt')
      // item
      .certificates-block__item
        .certificate
          .certificate__descr Свидетельство <br>о постановке на учет
          .certificate__pic
            +image('jpg', 'example-cert_small', 'alt')