.conditions {
  padding: 12rem 0;

  &__line {
    display: flex;
  }

  &__main {
    color: #000;
    flex-grow: 1;
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
  }

  &__items {
    padding-top: 5.7rem;
  }

  &__item:not(:last-child) {
    margin-bottom: 4rem;
  }

  &__form {
    width: 395px;
    flex: 0 0 395px;
  }
}

@import "blue-form-card";
@import "conditions-item";