.conditions {
  padding: 12rem 0;

  &__line {
    display: flex;
  }

  &__main {
    color: #000;
    flex-grow: 1;
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
  }

  &__items {
    padding-top: 5.7rem;
  }

  &__item:not(:last-child) {
    margin-bottom: 4rem;
  }

  &__form {
    width: 395px;
    flex: 0 0 395px;
  }
}

@import "blue-form-card";
@import "conditions-item";

@media (max-width: 1140px) {
  .conditions__main {
    padding-right: 20px;
  }

  .conditions__title {
    font-size: 28px;
    line-height: normal;
  }
}

@media (max-width: 768px) {
  .conditions__line {
    display: block;
  }

  .conditions__main {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .conditions__form {
    width: 100%;
  }

  .conditions-item__text {
    font-size: 16px;
    line-height: normal;
  }

  .conditions-item__text br {
    display: none;
  }
}

@media (max-width: 375px) {
  .conditions__title {
    text-align: center;
  }
}