

.conditions
  .conditions__line.container
    .conditions__main
      .conditions__title Честные и комфортные финансовые условия работы
      .conditions__items
        .conditions__item.conditions-item
          .conditions-item__icon.conditions-item__icon--1
            +icon('con-icon-1')
          .conditions-item__text <b>Подготавливаем прозрачную <br>смету</b>, из которой понятно <br>из чего складывается стоимость
        .conditions__item.conditions-item
          .conditions-item__icon.conditions-item__icon--2
            +icon('con-icon-2')
          .conditions-item__text Фиксируемая в договоре <br>первоначальная <b>смета остается <br>неизменной в процессе работ</b>
        .conditions__item.conditions-item
          .conditions-item__icon.conditions-item__icon--3
            +icon('con-icon-3')
          .conditions-item__text Благодаря льготным условиям работы <br>с поставщиками материалов <b>можем <br>предложить меньшую цену, чем конкуренты</b>
    .conditions__form
      include blue-form-card