.f-middle-line {
  padding: 5rem 0;
  background-color: #fff;

  &__content {
    display: flex;
    align-items: center;

    @media (max-width: 1050px) {
      align-items: flex-start;
      justify-content: center;
    }

    @media (max-width: 540px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex: 0 0 auto;
    }
  }

  &__logo {
    max-width: 175px;
    flex: 0 0 175px;

    @media (max-width: 540px) {
      flex: 0 0 auto;
      margin-bottom: 20px;

      .logo {
        max-width: 175px;
        img {width: 100%;}
      }
    }
  }

  &__info-text {
    margin-left: (35/1140)*100%;

    span {
      display: block;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      color: #505050;
    }

    @media (max-width: 540px) {
      margin-bottom: 20px;
      text-align: center;
      margin-left: 0;
    }
  }

  &__menu {
    margin-left: 9.5rem;
  }
}