.f-middle-line
  .container
    .f-middle-line__content
        .f-middle-line__logo
          include ../logo/logo-black
        .f-middle-line__info-text
          span ООО Ритейл Групп
          span 500308936741 ОГРНИП 
          span 319774600296029
        .f-middle-line__menu
          include footer-menu