.footer-menu
  .footer-menu__col
    a(href="#").footer-menu__link Услуги
    a(href="#").footer-menu__link Объекты
  .footer-menu__col
    a(href="#").footer-menu__link О компании
    a(href="#").footer-menu__link Благодарности
  .footer-menu__col
    a(href="#").footer-menu__link Расчет стоимости
    a(href="#").footer-menu__link Новости
  .footer-menu__col
    a(href="#").footer-menu__link Сертификаты
    a(href="#").footer-menu__link Вакансии
  .footer-menu__col
    a(href="#").footer-menu__link Контакты