footer.footer.bottom-footer__footer
  .footer__middle-line
    include f-middle-line
  .footer__bottom-line
    .container
      a(href="#").footer__conf-pol Политика конфиденциальности
      .footer__author Разработка сайта - 
        a(href="") Бондарь Роман