.popup-3 {
  color: #000;

  @media (max-width: 375px) {
      text-align: center;
  }

  &__content {
    max-width: 1170px;
    width: 1170px;
    display: flex;
    padding: 9.2rem 13rem 10rem 6rem;
    background-color: #fff;

    @media (max-width: 1140px) {
      padding: 10rem 4rem;
    }

    @media (max-width: 1050px) {
      width: auto;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 2rem;
    color: #000 !important;

    @media (max-width: 1050px) {
      br {display: none;}

      font-size: 32px;
      line-height: normal;
    }

    @media (max-width: 768px) {
      font-size: 28px;
    }
  }

  &__subtitle {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 3rem;

    @media (max-width: 1050px) {
      br {display: none;}

      font-size: 20px;
      line-height: normal;
    }

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  &__left {
    flex: 1 1 auto;
    padding: 0 1.85rem;
    text-align: center;
    max-width: 510px;

    @media (max-width: 768px) {
      width: 100%;
      padding: 0;
    }
  }

  &__right {
    width: (455/950)*100%;
    flex: 0 0 (455/950)*100%;

    @media (max-width: 768px) {
      order: -1;
      margin-bottom: 4rem;
      width: auto;
      max-width: 400px;
      flex: 1 1 auto;
    }
  }

  &__download {
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    padding: 10.5px 30px;
    background: #0075FF;
    text-decoration: none;

    display: inline-flex;
    align-items: center;
  }

  &__download-icon {
    margin-right: 10px;

    svg {
      fill: #fff;
      width: 11px;
      height: 15px;
    }
  }

  &__pic {
    width: 100%;

    @include image(498, 471);
  }

  &__form-title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  &__form {
    max-width: 250px;

    @media (max-width: 375px) {
      max-width: 100%;

      input {
        text-align: center;
      }
    }
  }

  &__accept-conf {
    .accept-conf__label {
      color: #000;

      @media (max-width: 375px) {
        display: inline-block;
      }
    }
  }

  &__btn button {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
}