h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: $base-font-size;
    height: 100%;

    @media (max-width: 768px) {
        font-size: 50%;
    }

    @media (max-width: 540px) {
        font-size: 40%;
    }
}

body {
    height: 100%;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: normal;
}

button {
    border: none;
    background: transparent;
    width: 100%;
    cursor: pointer;
}

*,
*::before,
*::after { box-sizing: border-box; }

ul[class],
ol[class] {
   list-style: none;
}

ul {
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select { font: inherit; }

a {
    font-family: inherit;
}

input,
select,
button { outline: none; }

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

textarea { resize: none; }

.container {
    margin: 0 auto;
    max-width: $content-size;
    width: 100%;

    @media (max-width: 1140px) {
        padding: 0 15px;
    }
}

.loading {
    background: url("../img/general/preloader.gif") center / auto no-repeat;
}

input[type="number"] {
    -webkit-appearance: none;
}

.services-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    footer {
        margin-top: auto;
    }
}

.section-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000;

    @media (max-width: 620px) {
        font-size: 32px;
        line-height: normal;
    }

    @media (max-width: 375px) {
        font-size: 24px;
        line-height: normal;
    }
}

.pico-content {
    width: 90% !important;
}